@mixin clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}


//1em=16px
@mixin respond($breakpoint){
    @if($breakpoint == tab_portrait){
        @media(max-width: 56.25em){ //1200px
            @content;
        }
    }
    @if($breakpoint == tab_landscape){
         @media(max-width: 76em){ //900px
            @content;
        }
    }
    @if($breakpoint == large_desktop){
        @media(min-width: 112.5em){  //1800px
            @content;
        }
    }
    @if($breakpoint == phone){
        @media(max-width: 37.5em){   //600px
            @content;
        }
    }
    

}