$color-grey-light-1: #f7f7f7;
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$default-font-size:1.6rem;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-primary-light: rgba(137, 226, 144, 0.801);
$color-primary-dark: rgba(40, 180, 133, 0.801);
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
