.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        z-index:10;
        transition: all 0.2s;
        outline-offset: 2rem;//creates gap between borders,hence we used outline and not border//
        
        &--p1{
            top: -2rem;
            left: 0
        }
        &--p2{
            right: 0;
            top: 2rem;
        }
        &--p3{
            top: 10rem;
            left: 20%;;
        }
        &:hover{
            outline: 1rem solid rgb(40, 180, 133);
            transform: scale(1.05) translateY(-.5rem);
            z-index:20;
            box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 1.6)
        }
    }
    :hover &__photo:not(:hover){
        transform: scale(0.95);
    }
}